# SCANNER SECTION
# URL of the scanner HP device
scanner_device="hpaio:/net/HP_LaserJet_Pro_MFP_M125nw?hostname=DEVC2859F.local"
# scanner mode, can be: color, gray, lineart
scanner_mode=gray
# scanner resolution in dpi
scanner_resolution=200

# CLOUD REMOTE SECTION
# remote cloud location where to transfer the scanned files
remote_dir_base="drive:/base/common/documents"

# MISC
debug_mode=false
max_pages=1000
default_title_prefix=untitled
colored_logs_enabled=true
cleanup_after_done=false
add_date_title_suffix=true

